<h2>Course Staff</h2>
<h3>Instructor</h3>
<ul>
<li><p><a href="{{ base_path }}/">Dinesh Bharadia</a>,dineshb AT ucsd DOT edu <br />
Atkinson Hall 4308<br />
Office hours: <a href="https://ucsd.zoom.us/j/93400668620">Zoom</a> Mondays and Wednesdays 6:30-7:30 pm.</p>
</li>
</ul>
<h3>Teaching Assistant</h3>
<ul>
<li><p>Suriyaa M.M., smm223 AT ucsd DOT edu<br />
Franklin Antonio Hall 2nd Floor: 2301<br />
Office hours: <a href="https://ucsd.zoom.us/j/93619415515">Zoom</a> Mondays and Fridays 11am -12 pm.</p>
</li>
</ul>
