<p>Homeworks will be posted on Piazza. All homework assignments are to be submitted via <a href="https://gradescope.com/">Gradescope</a>. Enrolled students will receive an email with a link to sign up on Gradescope. No late homework is accepted. <br /></p>
<p>Homework 1 deadline: February 4</p>
<h2>Policies</h2>
<p>Discussion on homework problems is encouraged. However, you need to explicitly specify who you discussed with. Using external resource (published paper, Wikipedia) is fine but you need to cite them in your solutions.<br /></p>
<h2>Homework</h2>
<p>All homework assignments are to be submitted via <a href="https://gradescope.com/">Gradescope</a>. All enrolled students will receive an email with a link to sign up on Gradescope.</p>
