<h2>Announcements</h2>
<ul>
<li><p>(Jan 8, 2024) Welcome to ECE 257B, Spring Quarter 2024! </p>
</li>
</ul>
<ul>
<li><p>(Jan 8, 2024) This course is adapted from multiple courses on wireless communication (EE359 Wireless Communication from Stanford, 6.829 from MIT)</p>
</li>
</ul>
<ul>
<li><p>(Jan 8, 2024) Please sign up for the <a href="https://piazza.com/ucsd/winter2024/ece257b">Piazza</a>. Access Code: Shannon</p>
</li>
</ul>
<ul>
<li><p>(Jan 8, 2024) The course comprises of 3 assignments, a project and final exam. </p>
</li>
</ul>
<ul>
<li><p>(Jan 8, 2024) <a href="#outline">Course outline has been updated</a></p>
</li>
</ul>
<ul>
<li><p>(Jan 8, 2024) <a href="#project">Course project details posted</a></p>
</li>
</ul>
<ul>
<li><p>(Jan 8, 2024) Lecture Slides are posted on Piazza under Resources Section.</p>
</li>
</ul>
<ul>
<li><p>(Jan 8, 2024) <b>If you like to audit the class, please send an email to me. So, I can add you to the piazza and Canvas. </b> </p>
</li>
</ul>
