<p>We will be using a class Piazza forum to conduct all discussions about course materials, answer questions about homework and post announcements outside of the scheduled lectures and office hours. Please sign up at <a href="https://piazza.com/ucsd/winter2024/ece257b">http://piazza.com/ucsd/winter2024/ece257b</a>. Code: Shannon.</p>
<h2>Lectures</h2>
<p><b>Venue:</b> Lecture: Mon/Wed 5:00-6:20pm at Centre Hall Room no. 218. <a href="https://ucsd.zoom.us/j/93400668620">Zoom</a><br /></p>
<h2>Format</h2>
<p>This year, we are planning to have a flipped class format where the students are required to watch the pre-recorded video prior to the real-time lecture. This allows the student to understand the concepts better and use the real-time lecture to clarify the doubts.<br />
There will be a reading quiz posted before every lecture.
Each student should subscribe for a lecture to scribe. The deadline for the scribe is one week after the lecture is held.</p>
<h2>Office hours and review sessions</h2>
<p>Office hours are intended to be a time for discussion about class projects.<br />
<b>Office hours:</b> See Contact page for office hours times and locations<br />
</p>
<h2>Course Requirements</h2>
<p><b>Homework:</b> There will be approximately 3 homework sets.<br />
<br />
<b>Project-proposal submission (3rd Friday):</b> Jan 26th at 11:59PM <br />
<br />
<b>Mid-quarter project presentation and report:</b> Date TBA, time TBA<br />
<br />
<b>Final project presentation and report:</b> Date TBA, time TBA<br />
<br />
<b>Final:</b> Date TBA, time TBA<br />
<br />
<b>Grading guideline:</b> 40% Homework, 20% Final (only replaces HW1), 5% Lecture Scribe, 5% Class participation and Reading Quiz, 50% Research Project
<br />
<b>Project grading guideline:</b> 5% Project Proposal, 15% Mid-quarter presentation and report, 30% Final Project presentation and report</p>
<h2>Course Prerequisites</h2>
<p>Linear algebra, Fourier transforms and DSP1.<br />
Undergraduate Wireless Communications and/or ECE 257A.<br />
Matlab Programming. (Important for Assignments and Project)</p>
